<div *ngIf="memberInfo" class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{memberInfo.photoUrl ||'./assets/user.png'}}" class="card-img-top img-thumbnail" >
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{memberInfo.city}},{{memberInfo.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{memberInfo.age}}</p>
                </div>
                <div>
                    <strong>Last active:</strong>
                    <p>{{memberInfo.lastActive}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{memberInfo.createdOn}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn btn-info"><i class="fa fa-heart"></i> like</button>
                    <button class="btn btn btn-success"><i class="fa fa-comments"></i> Message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="About">
                <h4>Description :</h4>
                <p>{{memberInfo.introduction}}</p>
                <h4>Looking for :</h4>
                <p>{{memberInfo.lookingFor}}</p>
            </tab>
            <tab heading="Interests">
                <h4>Interests :</h4>
                <p>{{memberInfo.interests}}</p>
            </tab>
            <tab heading="Photos" #photoTab="tab">
                <gallery *ngIf="photoTab.active" thumbPosition="left" [items]="images"></gallery>
            </tab>
            <tab heading="Messages">
                <p>comming soon!</p>
            </tab>
        </tabset>
    </div>
</div>
