
<!-- ngForm is a angular form instance, we can declare a form using #<custom form name> .
    (ngSubmit) : calls a function once submit event happens through a button with type submit 
-->

<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h1 class="text-center text-primary">Sign Up🥰</h1>
    <hr>
    <div class="mb-3">
        <label style="margin-right: 10px;" > I am a: </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" value="male" formControlName="gender"> Male 
        </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" value="female" formControlName="gender"> Female 
        </label>
    </div> 
 
    <app-text-input  
    [formControl]="$any(registerForm.controls['username'])" 
    [propertyName]="'username'" 
    [label]="'Username'"
    [type]="'text'"
    ></app-text-input>

   
    <app-text-input  
    [formControl]="$any(registerForm.controls['knownAs'])" 
    [propertyName]="'knownAs'" 
    [label]="'KnownAs'"
    [type]="'text'"
    ></app-text-input>
 
    <app-text-input  
    [formControl]="$any(registerForm.controls['dateOfBirth'])" 
    [propertyName]="'dateOfBirth'" 
    [label]="'Date.Of.Birth'"
    [type]="'date'"
    ></app-text-input>

    <app-text-input  
    [formControl]="$any(registerForm.controls['city'])" 
    [propertyName]="'city'" 
    [label]="'City'"
    [type]="'text'"
    ></app-text-input>

    <app-text-input  
    [formControl]="$any(registerForm.controls['country'])" 
    [propertyName]="'country'" 
    [label]="'Country'"
    [type]="'text'"
    ></app-text-input> 

    <app-text-input  
    [formControl]="$any(registerForm.controls['password'])" 
    [propertyName]="'password'" 
    [label]="'Password'"
    [type]="'password'"
    ></app-text-input>
    <app-text-input  
    [formControl]="$any(registerForm.controls['confirmPassword'])" 
    [propertyName]="'confirmPassword'" 
    [label]="'Confirm Password'"
    [type]="'password'"
    ></app-text-input>
    
    
    <div class="text-center mb-3">    
        <button type="submit" class="btn btn-outline-primary  me-4">Submit</button>
        <button type="button" (click)="cancel()" class="btn btn-outline-danger ">Cancel</button>
    </div>
</form>









<p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status | json}}</p>
<div [class.is-invalid]="registerForm.get('username')?.errors && registerForm.get('username')?.touched">
    <!-- Add debug output to see control's errors and touched state -->
    {{ registerForm.get('password')?.errors | json }}
    {{ registerForm.get('password')?.hasError('required') | json }}
    <!-- Rest of your HTML code -->
  </div>
  
<h2>{{userFromHomeComponent}}</h2>
