<div class="row">
    <!-- <div class="col-2" *ngFor="let member of members$ | async">
        <app-member-card [memberItem]="member"></app-member-card>
    </div> -->

    <div class="col-2" *ngFor="let member of members">
        <app-member-card [memberItem]="member"></app-member-card>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">

      <pagination  
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemPerPage"
      [maxSize]="10"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChange($event)"
      >
      </pagination>

</div>
